* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body{
    background-color: #F9F4EF;
  }
.head-sales{
    width: 1438px;
    height: 79px;
    background: linear-gradient(to right, #667EEA, #764BA2);
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    margin-left: 239px;
    margin-top: 46px;
}
.time{
    color: #FFFFFF;
    font-family: Inter;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    margin-left: 63px;
    margin-top: 18px;
}
.nightPrices{
    margin-left: -270px;
}
h3{
    color: #FFFFFF;
    font-size: 20px;
    line-height: 100%;
    font-family: Inter;
    font-weight: 700;
    margin-top: 18px;
}
p.GetReady{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
    font-family: Inter;
    margin-bottom: 15px;
}
.logo-pics{
    margin-top: 27px;
    flex-direction: row;
    gap: 18px;
    margin-right: 67px;

}
.logo-pics img {
    width: 24px;
    height: 24px; 
}
.VK{
    margin-left: 280px;
}
.WA{
    margin-left: 18px;
}
.TG{
    margin-left: 18px;
}
header{
    margin-top: 40px;
    margin-left: 239px;
    display: flex;
    flex-direction: row;
}
.logo-text {
  font-family: Inter; 
  font-size: 45px; 
  font-weight: bold; 
  color: #000;
  text-align: center; 
  position: relative; 
}

.nav-menu {
    display: flex;
    gap: 40px;
    margin-left: 628px;
    margin-top: 15px;
  }
  
  .nav-menu a {
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-family: Inter;
    font-weight: 600;
    line-height: 100%;
  }
  .basket{
    width: 32px;
    height: 32px;
    margin-left: 25px;
    margin-top: 5px;
  }
  .Ava{
    width: 26px;
    height: 26px;
    margin-left: 18px;
    margin-right: 11px;
    margin-top: 8px;
  }
  p.Account{
    margin-left: 11px;
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-family: Inter;
    font-weight: 600;
    line-height: 100%;
    margin-top: 14px;
  }
  .Arrow-Down{
    width: 24px;
    height: 24px;
    margin-left: 4px;
    margin-top: 10px;
  }
.product{
  width: 1439PX;
  height: 1063px;
  margin-left: 239px;
  margin-top: 27px;
  background-color: #FFFFFF;
  border-radius: 15px;
}
.picAndDesc{
  padding-top: 79px;
  padding-left: 112px;
  display: grid;
  grid-template-columns: 1fr 1fr;

}
.product-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
  font-family: Inter;
  color: #000000;
}
.desc{
  margin-left: -200px;
}
.starsAndText{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: none;
}
.product-reviews {
  font-size: 14px;
  color: #B9B9B9; 
  margin-left: -320px;
  margin-bottom: 8px;
}

.product-code {
  font-weight: 500;
  font-size: 14px;
  font-family: Inter;
  margin-top: 19px  ;
  color: #3C3C3C;
  margin-bottom: 8px;
}

.product-price {
  font-size: 40px;
  font-family: Inter;
  font-weight: 700;
  color: #000;
  line-height: 100%;
  margin-top: 33px;
  margin-bottom: 16px;
}

.buy-button {
  width: 181px;
  height: 56px;
  padding: 10px;
  background-color: #45AFF6; 
  color: white;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buy-button:hover {
  background-color: #3c82b1; 
}
.buy-button:active {
  transform: scale(0.95);
}
.button-col{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.border-pic {
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 2px solid #45AFF6;
  outline-offset: -2px; 
  border-radius: 15px;
  background-color: transparent;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-left: -230px;
}

.basket2{
  width: 28px;
  height: 28px;
}
.product-specs {
  margin-top: 16px;
}

.product-specs h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #333;
}

.product-specs ul {
  list-style-type: none;
  margin-top: 15px;
}

.product-specs li {
  font-family: Inter;
  font-size: 14px;
  color: #686868;
  margin-bottom: 6px;
}
.mainChar{
  width: 292px;
  height: 22px;
  margin-top: 83px;
  margin-left: 40px;
  color: #000;
}
.columns-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ; 
  gap: 1px;
  margin-left: -617px;
  margin-top: 121px;
}
.columns-container-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ; 
  gap: 1px;
  margin-left: 47px;
  margin-top: 10px;
}
.column-1{
  margin-left: -200px;
  margin-right: none;
}
.column-2{
  margin-left: -370px;
}
.column-3{
  margin-left: 30px;
  margin-right: none;
}
.column-4{
  margin-left: 100px;
}
.column h3, .column-1 h3, .column-2 h3, .column-3 h3, .column-4 h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}
.column p, .column-1 p, .column-2 p, .column-3 p, .column-4 p {
  font-size: 14px;
  color: #666;
  margin-bottom: 8px;
}
.performance-rating{
  margin-left: 122px;
  margin-top: -170px;
}
.custom-list {
  list-style-type: none;
  padding-left: 0; 
}
h2.performance-rating{
  font-family: Inter;
  font-size: 18px;
  font-weight: 700;
  line-height: 100%;
}
.custom-list li {
  position: relative;
  padding-left: 30px;
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 14px;
  font-family: Inter;
  line-height: 100%;
  font-weight: 600;
}

.custom-list li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px; 
  background-image: url('/img/Vector.png');
  background-size: cover;
}

.footer {
  width: 1441px;
  height: 286px;
  margin-left: 240px;
  margin-top: 58px;
  border-radius: 20px 20px 0 0;
  background-color: #FFFFFF;
  padding: 20px 0;
  font-family: Arial, sans-serif;
  color: #333;
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr ; 
  margin: 0 auto;
  padding: 0 20px;

}

.footer-section {
  flex: 1;
  width: 243px;
  margin-right: 50px;
  margin-left: 92px;
  margin-top: 36px;
}
.footer-section-1 {
  flex: 1;
  width: 185px;
  margin-top: 26px;
  margin-right: 88px;
  margin-left: 100px;
}
.footer-section-2 {
  flex: 1;
  margin-right: 50px;
  margin-top: 26px;
}
.footer-section-3 {
  flex: 1;
  margin-right: 50px;
  margin-top: 26px;
}
.footer-section-4 {
  flex: 1;
  margin-right: 50px;
  margin-top: 26px;
}
.footer-section h2{
  color: #000000;
  font-size: 32px;
  font-weight: 700;
}
[class^="footer-section"] h3 {
  font-size: 18px;
  margin-bottom: 15px;
  color: #000;
}

[class^="footer-section"] p,
[class^="footer-section"] ul {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #000000;
  font-weight:500px ;
  font-size: 18px;
}

[class^="footer-section"] ul li {
  margin-bottom: 10px;
  color: #000000;
  font-weight:500px ;
  font-size: 18px;
}